<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div style="display: flex; flex-wrap: wrap;">
        <div th:each="product : ${products}" style="width: 25%;">
            <h1 th:text="'ID:'+ ${product.id} + ' ' + ${product.name}"></h1>
            <img th:src="${product.imageUrl}" alt="" style="width: 10rem;">
            <p th:text="'$' + ${product.price}"></p>
        </div>
    </div>
    <form action="">
        <input type="text" id="name" placeholder="name">
        <input type="text" id="image" placeholder="image">
        <input type="text" id="price" placeholder="price">
        <input type="submit" onclick="addProduct()">Add product</button>
    </form>
</body>
<script>
    function addProduct() {
        var name = document.getElementById("name").value;
        var image = document.getElementById("image").value;
        var price = document.getElementById("price").value;
        var data = {
            id: 0,
            name: name,
            imageUrl: image,
            price: price
        };
        fetch("http://localhost:8080/api/v1/products", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(
                data
            )
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);
                window.location.href = "http://localhost:8080/admin/products";
            });
    }
</script>
</html>
